{% extends "layout.html" %}
{% load static %}

{% block body %}
<div id="C_Chat">
    <div class="Chat_Chats dark" id="Contacts">
        <p class="center">{{ language.5.translation }} <strong>{{ user.username }}</strong></p>
        <hr>
    </div>
    <div class="Chat_Contact dark" id="Contact">
        <div class="Chat_picture">
            <img class="Chat_image" id="Profile_Picture_Contact" src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/profile_picture.jpg' %}{% endif %}">
        </div>
        <div>
            <h3 id="Chat_Username_Contact">{{ user.username }}</h3>
        </div>
    </div>
    <div class="Chat_Messages dark_background">
        <div id="Chat" class="dark_background">

        </div>
    </div>
</div>
<div class="userinput" id="Userinput">
<textarea id="Input" onkeypress="if(event.keyCode == 13) sendmessage()">

</textarea>
<button onclick="sendmessage()">
Send
</button>
</div>
<style>
    h3 {
        margin: 0;
        align-self: center;
    }
</style>
{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'JS/chat.js' %}"></script>
<link href="{% static 'CSS/chat.css' %}" rel="stylesheet">
{% if user.darkmode %}
<link href="{% static 'CSS_dark/chat.css' %}" rel="stylesheet">
{% endif %}
{% endblock %}


{% block title %}
Chat
{% endblock %}