{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="Chat_Chats">
    <p class="center">Logged in as <strong>{{ user.username }}</strong></p>
    <hr>
    <div class="Chat_User">
        <div class="Chat_picture">
            <img class="Chat_image" src="{% static '/Job/profile_picture.jpg' %}">
        </div>
        <h3>Username</h3>
    </div>
    <hr>
</div>
<div class="Chat_Contact" id="Contact">
    <div class="Chat_picture">
        <img class="Chat_image" src="{% static '/Job/profile_picture.jpg' %}">
    </div>
    <div>
        <h3>Username</h3>
    </div>
</div>
<div id="Chat">

</div>
<style>
    h3 {
        margin: 0;
        align-self: center;
    }
</style>
{% endblock %}