{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="center">
   <br>
   <h2>Jobs</h2>
   {% if user.is_authenticated %}
   <p>{{ language.5.translation }} <strong>{{ user.username }}</strong></p>
   {% endif %}
   <hr>
   <div id="Jobs" class="center">
   </div>
</div>

{% endblock %}

{% block script %}
{% if user.language == "German" %}
<script src="{% static 'JS/JS_german/jobs.js' %}"></script>
{% else %}
<script src="{% static 'JS/jobs.js' %}"></script>
{% endif %}
<link href="{% static 'CSS/homepage.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} 
    Homepage
{% endblock %}