{% load static %}

<!DOCTYPE html>
{% if user.language == "English" %}
<html lang="en">
{% else %}
<html lang="de">
{% endif %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Job: {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    {% if user.darkmode %}
    <link href="{% static 'CSS_dark/style.css' %}" rel="stylesheet">
    {% endif %}
    {% block script %}
    {% endblock %}
</head>

<body>
    <div>
        <nav class="navbar navbar-expand navbar-light bg-light top" id="Navbar">
            <a class="navbar-brand" href="{% url 'homepage' %}">Job</a>

            <div>
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}"><strong>{{ language.0.translation }}</strong></a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chat' %}">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' %}">{{ language.1.translation }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">{{ language.2.translation }}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <div id="app">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>

</html>