{% extends "layout.html" %}
{% load static %}

{% block body %}
<div class="center">
    <br>
    <h2><strong>{{ language.4.translation }}</strong></h2>
    <br>
    <div class="job">
        <h4>Title:</h4>
        <input class="profile_input" type="text">
        <br><br>
        <h4>Description:</h4>
        <input class="profile_input" type="text">
        <br><br>
        <h4>Salary:</h4>
        <input class="profile_input" type="text">
        <br><br>
        <h4>Category</h4>
        <input class="profile_input" type="text">
        <br>
        <br>
        <div class="right">
            <input type="submit" value="{{ language.13.translation }}" class="button light">
        </div>
    </div>
</div>
{% endblock %}