{% extends "layout.html" %}
{% load static %}


{% block body %}
<div class="center">
    {% if user.is_company %}
    <br>
    <h1><b>Company</b></h1>
    <br>
    <h2>{{ user.username }}</h2>
    <div class="profile_content">
        <div class="center">
            <div>
                <form method="POST" action="{% url 'profile' %}">
                    <h4>Description:</h4>
                    {% csrf_token %}
                    <textarea name="profile_description" class="profile_textarea" style="resize: none;">{{ user.description }}</textarea>
                    <div class="right">
                        <input type="submit" value="Save" class="button">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="Jobs">

    </div>
    {% block script %}
    <script src="{% static 'Job/jobs.js' %}"></script>
    {% endblock %}
    {% else %}
    <h1><b>User</b></h1>
    <br>
    <div class="profile_picture">
        <img class="profile_image" src="https://t3.ftcdn.net/jpg/03/39/45/96/360_F_339459697_XAFacNQmwnvJRqe1Fe9VOptPWMUxlZP8.jpg">
    </div>
    <br>
    <h2>{{ user.username }}</h2>
    <div class="profile_content">
        <form method="POST" action="{% url 'profile' %}">
            {% csrf_token %}
            <h4>First Name:</h4>
            <input name="first_name" class="profile_input" type="text" value="{{ user.first_name }}">
            <br>
            <br>
            <h4>Last Name:</h4>
            <input name="last_name" class="profile_input" type="text" value="{{ user.last_name }}">
            <br>
            <br>
            <h4>Email:</h4>
            <input name="email" class="profile_input" type="text" value="{{ user.email }}" readonly>
            <br>
            <br>
            <h4>Phone Number:</h4>
            <input name="phone_number" class="profile_input" type="tel" value="{{ user.phone_number }}">
            <br>
            <br>
            <h4>Date of birth:</h4>
            <input name="date_of_birth" class="profile_input" type="date" value="{{ user.date_of_birth }}">
            <br>
            <div class="right">
                <input type="submit" value="Save" class="button">
            </div>
        </form>
    </div>
    {% endif %}
</div>





{% endblock %}