h1,h2,h3,h4,h5,h6,a,button,p{
    color: white !important;
}

.navbar{
    background-color: #1F1B24 !important;
}

body{
    background-color: #121212;
}

.dark{
    color: black !important;
}

.light{
    color: white !important;
}

.big_button{
    background-color: #1F1B24 !important;
}

.job{
    background-color: #1F1B24 !important;
}

.profile_content{
    background-color: #1F1B24 !important;
}

.dark_background{
    background-color: #121212 !important;
}

.userinput{
    background-color: #1F1B24 !important;
}

.inner_popup{
    background-color: #3a3242 !important;
}