#Chat{
    overflow-y: scroll;
    padding-bottom: 200px;
    color: white !important;
}

.Chat_Messages{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 300px;
    top: 110px;
    background-color: white;
    width: calc(100vw - 300px);
    height: calc(100vh - 110px);
}

.Chat_Chats {
    position: fixed;
    left: 0;
    top: 56px;
    padding-top: 30px;
    width: 300px;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 10;
}

.Chat_Contact {
    padding: 3px;
    position: fixed;
    top: 56px;
    left: 300px;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    z-index: 10;
}

.Chat_image {
    width: 50px;
}

.Chat_picture {
    margin-left: 20px;
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.Chat_User {
    display: flex;
}


.Chat_Contact_Small {
    position: fixed;
    top: 56px;
    left: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 10;
    background-color: #f8f9fa;
}

.burger-menu{
    color: white;
    font-size: 25px;
}

.writer{
    position: relative;
    width: 300px;
    min-height: fit-content;
    margin-top: 15px;
    margin-right: 10px;
    background-color: green;
    border-radius: 25px;
    border-bottom-right-radius: 2px;
    margin-left: auto;
    padding: 7px;
    padding-left: 15px;
}

.recipient{
    position: relative;
    width: 300px;
    min-height: fit-content;
    margin-top: 15px;
    background-color: grey;
    border-radius: 25px;
    border-bottom-left-radius: 2px;
    padding: 7px;
    padding-left: 15px;
    margin-left: 10px;
}

.placeholder{
    height: 200px;
}

.userinput{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.textare_input{
    border-radius: 10px;
    resize: none;
    border: none;

}

.textare_input:focus{
    outline: 0;
}

@media only screen and (max-width: 768px) {
    .Chat_Chats {
        width: 100vw;
    }

    .Chat_Contact {
        display: none;
    }

    .Chat_Messages{
        position: fixed;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    #Chat{
        margin-top: 35px;
    }
}