.Chat_Chats {
    position: fixed;
    left: 0;
    top: 56px;
    padding-top: 30px;
    width: 300px;
    height: 100vh;
    background-color: whitesmoke;
    z-index: 10;
}

.Chat_Contact {
    padding: 3px;
    position: fixed;
    top: 56px;
    left: 300px;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    z-index: 10;
}

.Chat_image {
    width: 50px;
}

.Chat_picture {
    margin-left: 20px;
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.Chat_User {
    display: flex;
}


.Chat_Contact_Small {
    position: fixed;
    top: 56px;
    left: 0;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 10;
}

.Chat_Messages{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 300px;
    top: 110px;
    background-color: white;
    width: calc(100vw - 300px);
    height: calc(100vh - 110px);
}

.burger-menu{
    height: 20px;
    width: 20px;
    background-color: white;
}

.writer{
    position: relative;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: green;
    border-radius: 25px;
    border-bottom-right-radius: 2px;
    margin-left: auto;
}

@media only screen and (max-width: 768px) {
    .Chat_Chats {
        width: 100vw;
    }

    .Chat_Contact {
        display: none;
    }

    .Chat_Messages{
        position: fixed;
        top: 80px;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
}