.profile_image {
    width: 180px;
}

.profile_picture {
    min-width: 180px;
    max-width: 180px;
    min-height: 180px;
    max-height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
}

.profile_content h4 {
    padding: 0;
    margin-bottom: 4px;
}

.profile_input:focus {
    outline: none;
    cursor: default;
}

.profile_input {
    cursor: default;
}

.profile_content {
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile_textarea {
    margin-top: 5px;
}

@media (min-width: 768px) {
    .profile_content {
        width: 600px;
        min-height: 300px;
        position: relative;
        margin-top: 20px;
    }

    .profile_textarea {
        width: 550px;
        height: 200px;
    }
}


@media only screen and (max-width: 768px) {
    .profile_input {
        min-width: 270px;
    }

    .profile_content {
        min-height: 200px;
        min-width: 90vw;
    }

    .profile_textarea{
        height: 150px;
        width: 80vw;
    }

    body{
        margin-bottom: 250px;
    }
}