body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.top {
    z-index: 10;
}

#app {
    padding: 10px;
}

.job {
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 600px;
    height: fit-content;
    position: relative;
    margin-top: 20px;
    z-index: 100 !important;
}

.job_zoom{
    position: relative;
    top: 0;
    width: 90vw;
    height: 70vh;
}

@media only screen and (max-width: 768px) {
    .job {
        width: 90vw;
    }

    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand{
        margin-right: 5px !important;
    }
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: right;
}

.button {
    border: 0px;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.17);
    max-width: 110px;
    min-width: 110px;
}
.input_image {
    display: block;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 0;
    position: absolute;
    opacity: 0;
}

.input_image_file {
    position: absolute;
    height: 40px;
    width: 40px;
}

.input_image_container {
    margin-right: -100px;
    margin-top: -30px;
    position: relative;
    width: 50px;
    height: 50px;
}

.application_design {
    background-color: rgba(109, 109, 109, 0.575);
    display: flex;
    padding: 8px 0px;
    border-radius: 10px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.application_picture {
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.application_name h3{
    margin: 0;
}

.profile_image {
    width: 180px;
}

.profile_picture {
    min-width: 180px;
    max-width: 180px;
    min-height: 180px;
    max-height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.big_button_outer{
    display: flex;
    gap: 1vw;
    margin-bottom: 20px;
}

.big_button {
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 44vw;
    max-width: 290px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big_button h4{
    margin: 0 !important;
}

.popup{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 120 !important;
}

.inner_popup{
    width: 280px;
    height: 310px;
    padding-top: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}