body {
    width: 100vw;
    height: 100vh;
}

.top {
    z-index: 10;
}

#app {
    padding: 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: right;
}

.button {
    border: 0px;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.17);
    max-width: 110px;
    min-width: 110px;
}

.profile_image {
    width: 180px;
}

.profile_picture {
    min-width: 180px;
    max-width: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_content {
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 600px;
    min-height: 300px;
    position: relative;
    margin-top: 20px;
}

.profile_content h4 {
    padding: 0;
    margin-bottom: 4px;
}

.profile_input:focus {
    outline: none;
    cursor: default;
}

.profile_input {
    cursor: default;
}

.profile_textarea {
    margin-top: 5px;
    width: 550px;
    height: 200px;
}