body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.top {
    z-index: 10;
}

#app {
    padding: 10px;
}

.job {
    background-color: rgba(0, 0, 0, 0.17);
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 600px;
    height: 300px;
    position: relative;
    margin-top: 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: right;
}

.button {
    border: 0px;
    border-radius: 15px;
    padding: 10px 20px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.17);
    max-width: 110px;
    min-width: 110px;
}

.Chat_Chats {
    position: fixed;
    left: 0;
    top: 56px;
    padding-top: 30px;
    width: 300px;
    height: 100vh;
    background-color: whitesmoke;
}

.Chat_Contact {
    padding: 3px;
    position: fixed;
    top: 56px;
    left: 300px;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.Chat_image {
    width: 50px;
}

.Chat_picture {
    margin-left: 20px;
    margin-right: 10px;
    min-width: 50px;
    max-width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.Chat_User {
    display: flex;

}

.input_image {
    display: block;
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    font-size: 0;
    position: absolute;
    opacity: 0;
}

.input_image_file {
    position: absolute;
    height: 40px;
    width: 40px;
}

.input_image_container {
    margin-right: -100px;
    margin-top: -30px;
    position: relative;
    width: 50px;
    height: 50px;
}